In [1]:
employee_data = ['Ali', 125000, 'Google', 5]

In [5]:
print(str(employee_data[0]) + " is working in " + str(employee_data[2]) + " for " + str(employee_data[3]) + " years and his salary is " + str(employee_data[1]))

Ali is working in Google for 5 years and his salary is 125000

In [105]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000, '28 Januray 2020', '05 February 2020']

In [7]:
print(studentData[1])

Bilal

In [15]:
print("Hello " + studentData[0] + ' ' + studentData[1] + ',' + '\n' + "Your application is accepted for admission in " + '"' + studentData[4] + ' ' + studentData[3] + '"' +  " in " + studentData[2] + '.' + '\n' + "You have to submit fee " + str(studentData[-3]) + "before " + studentData[-2] + '.' + '\n' + "Your classes will start from " + studentData[-1] + '.' + '\n' + "Thanks")

Hello Ahmed Bilal,
Your application is accepted for admission in "BS Computer Science" in Government College University.
You have to submit fee 50000before 28 Januray 2020.
Your classes will start from 05 February 2020.
Thanks

In [16]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

In [18]:
cities[0:4]

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']

In [21]:
cities[2:6]

['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']

In [22]:
cities[5:]

['Sahiwal', 'Rawalpindi', 'Sialkot']

In [24]:
cities[-4:-1]

['Quetta', 'Sahiwal', 'Rawalpindi']

In [26]:
cities[-5:]

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

In [27]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [28]:
studentData.append("20 February 2019")

In [29]:
studentData.append(8)

In [31]:
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]

In [32]:
studentData.insert(4, 25000)
studentData.insert(1,"M.Iqbal")

In [33]:
print(studentData)

['Ali Raza', 'M.Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [34]:
studentData[0] = "Zohaib Ali"

In [37]:
studentData[6] = 7

In [39]:
studentData[4] = "Computer Science"

In [40]:
print(studentData)

['Zohaib Ali', 'M.Iqbal', 22, 91.24, 'Computer Science', 25000, 7, 'University of Agriculture', '20 February 2019', 8]

In [46]:
studentData.remove("Computer Science")

In [47]:
studentData.remove(91.24)

In [48]:
print(studentData)

['Zohaib Ali', 'M.Iqbal', 22, 25000, 7, 'University of Agriculture', '20 February 2019', 8]

In [51]:
studentData.pop()

8

In [52]:
print(studentData)

['Zohaib Ali', 'M.Iqbal', 22, 25000, 7, 'University of Agriculture', '20 February 2019']

In [53]:
studentData.pop(3)

25000

In [77]:
employeeData = [["Ali", 35000, "Software Engineer"],
["Talha", 55000, "Product Manager"],
["Nasir", 79000, "Computer Engineer"],
["Khalid", 44000, "DBA"]]

In [94]:
salary_with_name = []

for i in employeeData:
    salary = i[1]
    if salary >= 50000:
        salary_with_name.append([i[0],i[1]])

In [95]:
salary_with_name

[['Talha', 55000], ['Nasir', 79000]]

In [96]:
total_salary = 0
for i in employeeData:
    salary = i[1]
    total_salary += salary

In [97]:
total_salary

213000

In [99]:
employeeData [2][1] = 90000
employeeData [2][2] = "Product Manager"

print(employeeData[2])

['Nasir', 90000, 'Product Manager']

In [100]:
employeeData[3][1] = 50000

print(employeeData[3])

['Khalid', 50000, 'DBA']

In [103]:
username = "faizan1214"
password = "qwerty"
emailVerified = "True"
if username == "faizan1214":
    if password == "qwerty":
        if emailVerified == "True":
            print("Login Succeed")
        else:
            print("Email not verified")
    
    else:
        print("Incorrect Login Details")
else:
    print("Incorrect Login Details")

Login Succeed

In [104]:
username = "faizan1214"
password = "qwerty"
emailVerified = "True"
if username == "faizan1214":
    if password == "qwerty":
        if emailVerified == "False":
            print("Login Succeed")
        else:
            print("Email not verified")
    
    else:
        print("Incorrect Login Details")
else:
    print("Incorrect Login Details")

Email not verified